{% include "header.html" %}

<div class="container ">


    {% if not tasks %}
        <div class="text-center">
            <img src="/static/Images/error.svg" height="300" width="300" alt="error"/>
        </div>
        <h4 class="text-center">
            You can view your completed tasks here
        </h4>
    {% else %}
        <h3>
            Completed Tasks
        </h3>
        {% for task in tasks %}
            <div class="list-group">
                <label class="list-group-item d-flex gap-3">
                    <span class="pt-1 form-checked-content">
            <strong>{{ task["task_name"] }}</strong>
            <small class="d-block text-body-secondary"
                   style="color:{% if today_date < task['due_date'] %} red;{% endif %}">
               Due: {{ task["due_date"].strftime("%d-%m-%Y") }}
            </small>
        </span>
                </label>
            </div>

        {% endfor %}
    {% endif %}
</div>

{% include "footer.html" %}