{% include "header.html" %}

<div class="container">


    {% if not tasks %}
        <div class="text-center">
            <img src="/static/Images/party.svg" height="300" width="300" alt="error"/>
        </div>

        <h4 class="text-center">
            Yaay you have no tasks pending!!
        </h4>
    {% else %}
        <h3>
            Tasks pending
        </h3>
        {% for task in tasks %}
            <div class="list-group">
                <form action="{{ url_for("home", id=task['id']) }}" method="POST">  <!-- Replace with your actual endpoint -->
                    <label class="list-group-item d-flex gap-3">
                        <button type="submit" class="btn btn-primary">
                            ✓
                        </button>
                        <span class="pt-1 form-checked-content">
                <strong style="color: {% if today_date > task.due_date %}red{% else %}black{% endif %};">{{ task.task_name }}</strong>
                <small class="d-block text-body-secondary"
                       >
                    Due: {{ task.due_date.strftime("%d-%m-%Y") }}
                </small>
            </span>
                    </label>
                </form>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% include "footer.html" %}