{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Hello! I'm Adithya S, a passionate student with a penchant for exploring the ever-evolving world of
                    technology. While my journey began as an app developer, I've recently dipped my toes into the
                    captivating realm of web development. With a thirst for knowledge and an insatiable curiosity, I'm
                    on a mission to craft engaging and user-friendly web experiences that leave a lasting impact.
                </p>
                <p>
                    As a tech enthusiast, I'm constantly seeking ways to merge creativity with innovation. Whether it's
                    coding a sleek user interface or devising elegant solutions to complex problems, I relish every
                    challenge that web development throws my way. Join me on this exciting adventure as I share
                    insights, tips, and discoveries from my web development journey. Together, let's embark on a digital
                    odyssey filled with endless possibilities.
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
