{% include "header.html" %}

<div class="container text-center">
    {% if current_user.is_authenticated %}
        <div style="min-height:70vh;">
        <br>
        <br>
        <br>
        <img src="../static/Images/cart.svg" alt="Cart Icon" height="200" class="m-10">
        <br>
        <br>
        <br>
        <br>
        <h6>Oops no items in cart, shop from our store to add items in here</h6>
    </div>
    {% else %}
        <div style="min-height:70vh;">
            <br>
            <br>
            <br>
            <img src="../static/Images/cart.svg" alt="Cart Icon" height="200" class="m-10">
            <br>
            <br>
            <br>
            <br>
            <h6>Please login to view your cart!!</h6>
        </div>
    {% endif %}

</div>

{% include "footer.html" %}
