{% include "header.html" %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../static/Images/logo.png" alt="Company logo" width="300" height="250" style="border-radius:10px;">
    <h1 class="display-5 fw-bold text-body-emphasis"></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">At ShopSphere, we believe in bringing you an unparalleled shopping experience that transcends the ordinary. Step into a world where style meets convenience, where quality is non-negotiable, and where your every purchase is a celebration.</p>
    </div>
</div>

{% include "footer.html" %}