<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adithya's portfolio</title>
</head>

<body>
    <div id="con-1">
    <h1><br>Hey I am Adithya!!</h1>
    <h2 class="second">I love to code 💓</h2>
    <br>
    <img src="../static/output-onlinepngtools.png" alt="image of a developer or computer" width="1000">
    </div>

    <div>
    <p><br><br></p>
    <h2 class="second">About me</h2>
    <br>
    <p class="third"> Hello! I am Adithya. I am a student at VIT Chennai .I love to build websites<br></p>
    </div>

    <div>
    <p><br><br></p>
    <h2 class="second">My skills</h2>
    <br>
    <p class="third">Python-⭐⭐⭐</p>
    <p class="third">Web development ⭐</p>
    <p class="third">C++/C ⭐⭐</p>
    <p class="third">Football ⭐⭐⭐<br></p>
    </div>

    <div>
    <p><br><br></p>
    <a href="mailto:adithyasakaray@gmail.com">Contact me</a>
    <p><br></p>
    
    
    </div>

</body>

</html>
